 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a computer science student at NYU. My programming background
                        includes experience with back-end languages (Python, Java, C++),
                        as well as knowledge of web frameworks and databases. I have completed
                        internships during my summers as well as personal projects. Feel free
                        to check out my <a href="#footer">github or linkedin.</a> For my resume please
                        click <a href="https://swapnilkha.github.io/resume/swapnilkha_resume.pdf">here.</a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Apart from coding, my activities include traveling, reading,
                        and cooking. I also tutor part-time in academic subjects to
                        grade school and college students.
                     </p>
                </div>
            </div>
        </div>
    </section>
